<p id="alert"><%= alert %></p>
<h1>Signup</h1>
<%= form_with model: @user, url: :registrations do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class=”actions”>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
